html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

canvas {
  flex-shrink: 0;
  background-color: #000;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
